<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 mx-auto">
      <form action="/shorten" method="post">
        <div class="form-group text-center">
          <label for="original-url">請輸入您要縮短的網址：</label>
          <input type="text" class="form-control" id="original-url" name="originalUrl"
            placeholder="https://www.example.com">
        </div>
        <div class="container">
          <button type="submit" class="  btn btn-primary my-3 btn-lg mx-auto d-block"
            style="width: 200px;">產生短網址</button>
        </div>
      </form>
    </div>
  </div>
</div>